/* CSS CON BUENAS PRACTICAS*/
/* DEBEMOS ESTABLECER CONDICIONES GENERALES */

/* 1. Importaciones - de tipografia  */

/* 2. Definir las variables en css - las cuales son las estructuras que usted va saber que va a usar en tido el diseño de la pagian */

/* 3. mejor constraste que hay de accesibilidad es amarillo y negro  */

@import url('https://fonts.cdnfonts.com/css/ribeye-marrow');

:root {
    --color-fondo:#d7bde2;
    --color-texto:#bb8fce ;
    --color-enfasis1: #2b0041 ;
    --color-enfasis: #9431bb;
    --tamaño-titulos: 30px


}

* {
/* MARGEN EXTERNA  */

margin: 0;

}
/* ------------------------------------------------------------------------------------------ */

body {

    font-family: 'ribeye marrow', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-enfasis1);
    overflow: hidden;

}

/* ------------------------- HEADER ---------------------- */

header {
/* altura */
    width: 96vw;

    /* ancho */
    height: 10vh;
    background-color: var(--color-enfasis);
    margin: 15px;
    border-radius: 15px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.Lista {
    display: flex;
    gap: 30px;
}

.Imagen1 {
    width: 50px;
    height: 50px;
   

}

a {
    color: var(--color-enfasis1);
    text-decoration: none;
}


main {
    border: solid red;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

h1, h2 {
    text-align: center;
}

.contenedor {
    background-color: var(--color-texto);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;

}

.semantica {
    width: 50%;
    border-radius: 15px;
}

/* ----------------------------- MAIN ------------------------- */




/* ---------------------------------- FOOTER --------------------------- */
